.sidebar_amin_layout{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 85vh;
    flex: 1;
}
.logout_btn{
    cursor: pointer;
}
.routings_urls{
    display: flex;
    flex-direction: column;
    gap: 20px;
}